# Directorios que no deben ir al contexto del build
node_modules
.nuxt
dist
.output
# VCS
.git
.gitignore
# Config & env
.env
.env.*
# Logs / debug
npm-debug.log*
# Docker / compose
Dockerfile
Dockerfile.static
docker-compose.yml
