<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&family=Roboto:ital,wght@0,400;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Raleway&family=Roboto:ital,wght@0,400;1,100;1,400&display=swap');
    body {
        background-color: #E4F5FB;
        margin: 0;
    }
    header {
        background-color: white;
        text-align: center;
        padding: 15px;
    }
    main {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        width: 400px;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
    }
    .titulo {
        text-align: center;
        font-family: Bebas Neue;
        color: #181E52;
    }
    .contenedor-datos {
        border-bottom: 1px solid #b0b0b0;
    }
    .titulo-correo {
        font-family: Bebas Neue;
        font-weight: inherit;
        color: #181E52;
        margin: 0;
        padding-top: 5px;
    }
    .respuesta {
        font-family: roboto;
    }
</style>
<body>
    <header>
        <img src="<%= base_url + '/favicon.ico' %>" alt="" class="logo">
    </header>
    <div class="titulo">
        <h1>Datos de Contacto</h1>
    </div>
    <main>
        <div>
            <div class="contenedor-datos">
                <h1 class="titulo-correo"><img src="../../usuario.png" alt=""> Nombre</h1>
                <p class="respuesta"><%= name %></p>
            </div>
            <div class="contenedor-datos">
                <h1 class="titulo-correo"><img src="../../correo.png" alt=""> Correo</h1>
                <p class="respuesta"><%= email %></p>
            </div>
            <div class="contenedor-datos">
                <h1 class="titulo-correo"><img src="../../llamada.png" alt=""> Telefono</h1>
                <p class="respuesta"><%= phone %></p>
            </div>
            <div class="contenedor-datos">
                <h1 class="titulo-correo"><img src="../../conversacion.png" alt=""> Mensaje</h1>
                <p class="respuesta">Karla Daniela Rivera Hernandez</p>
            </div>
        </div>
    </main>
</body>
</html>